/* Homepage CSS */

.col-form-label {
    text-align: left;
}

.container-home {
    height: 27vw;
    width: 100%;
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    opacity: 100%;
    background-image: 
    url('../../assets/images/dark_grey_background_textured.jpg'),
    linear-gradient(45deg, #ccc 85%, transparent 85%),
    linear-gradient(-45deg, #ccc 85%, transparent 85%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(-45deg, transparent 75%, #ccc 75%);;
}

.login-home-container {
    position: relative;
    color: white;
    width: 85%;
    height: fit-content;
    /* border: solid white 1px; */
    background-color: silver;
    border-radius: 20px;
}

.login-home-form {
    width: calc(100% - 60px);
    padding-top: 35px;
    margin-left: 30px;
}

.login-home-left {
    color: white;
}

.loginButton{
    width: 100%;
    margin-bottom: 20px;
}

.navBarCTA {
    border-radius: 25px;
    padding-top: 10px   ;
}